<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ccHelp_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ccHelp_ios_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7693DF441B229ED30068F1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7693DF5C1B22A0400068F1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7693DF661B22A0400068F1CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
